.shape {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    text-align: center;
    background-color: aqua;
  }