/* body {
    background-image: url(background1.jpg);
    background-size: cover;

} */
 *{
    padding: 0px;
    margin: 0px
 }
.navbar{
    position: sticky;
    top: 0px;
    background-color: white;
    height: 50px
}
.navitems {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: arial;
    padding-left: 30px;
    font-weight: bold;

}

.navitems {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navlogo {
    /* border: 1px solid black; */
    height: 40px;
    width: 65px;
    background-image: url(applelogo.png);
    background-size: cover;
}

#search {
    padding-left: 750px;
}

input {
        text-align: center;
}
li:hover{
    background-color: green;
}
li{
    text-align: center;
}