#box1{
    height: 50vh; /*it will set the height equal to the height of the 50% of the browsers screen*/
    background-color: yellow;
    width: 30vw
}
#box2{
    width: 50vw; /* it will set the width equal to the height of the 50% of the browsers screen*/
    background-color: red;
    height: 50vh
}